# Entorno Next.js
NODE_ENV="production"

# NextAuth - Autenticación
# Cambiar por la URL real en AWS o dominio del hospital
NEXTAUTH_URL="https://tu-dominio-cms.com"
NEXTAUTH_SECRET="GENERAR_UN_SECRETO_SEGURO_EN_PRODUCCION"

# Keycloak Integration
KEYCLOAK_ID="auren-cms"
KEYCLOAK_SECRET="SECRET_DEL_CLIENTE_AUREN_CMS_EN_KEYCLOAK"
KEYCLOAK_ISSUER="https://auth.tu-dominio.com/realms/auren"
NEXT_PUBLIC_KEYCLOAK_URL="https://auth.tu-dominio.com"

# Backend & APIs
# URLs públicas para llamadas del lado del cliente y servidor
NEXT_PUBLIC_API_URL="https://api.tu-dominio.com/api"
NEXT_PUBLIC_ANALYTICS_URL="https://analytics.tu-dominio.com"
